<a href='/catalog/{{code}}' class='product item' data-categoria='{{tags}}'>
    <input type='hidden' class='' />
    <div class='img--container'>
        <img loading='lazy' src='{{front}}' alt='' />
    </div>
    <div class='product__footer'>
        <h3>{{title}}</h3>
        <h4>${{promPrice}} USD</h4>
    </div>
</a>